DATABASE_URL=postgresql://pacotinho:pacotinho_dev@localhost:5432/pacotinho
AUTH_SECRET=gere_com_openssl_rand_base64_32
AUTH_URL=http://localhost:3000
UPLOAD_DIR=./uploads

# Push Notifications (gere com: npx web-push generate-vapid-keys)
VAPID_PUBLIC_KEY=BLV5iewQkPH1csfGDgvWjXeIzQ_hyUcBOZogzQkxRPx5Z-s-175vad1cRwiJQHaYfRNhraoFq6rphJ471QEgonw
VAPID_PRIVATE_KEY=EyjMOD5Sy2tOcNjr48WCXX_5e__d5VfY_zpoYrC0eds
VAPID_EMAIL=mailto:admin@pacotinho.com
